.container {
  position: absolute;
  top: 5%;
  left: 5%;
  max-width: 90%;
  height: min-content;
  background-color: #2d2d2d;
  border-radius: 10px;
}

.close {
  align-self: flex-end;
  margin-bottom: 0;
  cursor: pointer;
}

.action {
  font-size: large;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 1rem;
}

.details {
  font-size: smaller;
  margin-top: 0%;
}
