html {
  background-color: #1e1e1e;
  color: #e5e5e5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-toggle {
  height: 100px;
  flex-grow: 2;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: grey;
  background-color: #333333;
  height: 30px;
}

.title {
  margin-left: 0.5rem;
  text-align: center;
}

.electron-move-window {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.electron-controls-placeholder {
  width: 138px;
}

.spacer {
  flex-grow: 5;
}

.button {
  color: #858585;
  cursor: pointer;
  margin-left: 0.3rem;
  width: 18px !important;
  height: 18px !important;
}

@media (hover: hover) {
  /* @media to prevent "stuck" hover on touch screens */
  .button:hover {
    color: #cccccc;
  }
}
