<div
  *ngIf="todo"
  @fadeIn
  class="todo-line"
  [ngClass]="selected ? 'selected' : ''"
>
  <span *ngIf="todo.done" (click)="markUndone()" @fadeIn class="checkbox">
    ✅
  </span>
  <span *ngIf="!todo.done" (click)="markDone()" @fadeIn class="checkbox">
    🔳
  </span>
  <span *ngIf="todo.paused" (click)="markUnpaused()" @fadeIn class="checkbox">
    ⏸️
  </span>
  <span
    *ngIf="!displayEditor()"
    class="todo-text"
    [ngClass]="todo.done ? 'done' : ''"
    (click)="edit()"
  >
    {{ todo.label }}
  </span>
  <span *ngIf="displayEditor()" (blur)="saveLabel()">
    <input
      class="todo-editor"
      #todoEditor
      [(ngModel)]="todo.label"
      autofocus
      (keydown.enter)="saveLabel()"
    />
    <span (click)="toggleEmojiPicker()"> ⁉️ </span>
  </span>
</div>
<emoji-mart
  *ngIf="this.isEmojiPickerDisplayed"
  [autoFocus]="true"
  (emojiSelect)="addEmoji($event)"
  title="Pick your emoji"
  emoji="arrow_up"
  color="#007acc"
></emoji-mart>
