.todo-line {
  padding: 2px;
}

.checkbox {
  cursor: pointer;
}

.todo-text {
  margin-left: 0.2rem;
  transition-duration: 600ms;
}

.selected {
  background-color: #007acc;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  color: grey;
}
