.todo-line {
  padding: 2px;
  display: flex;
  align-items: center;
  height: 1.5rem;
  margin-right: 0.6rem;
  cursor: all-scroll;
}

.checkbox {
  cursor: pointer !important;
}

.todo-text {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 2px;
  margin-bottom: 2px;
  transition-duration: 600ms;
  cursor: text !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-editor {
  flex: 5;
  background-color: #007acc;
  border: none;
  color: #e5e5e5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 2px;
  margin-bottom: 2px;
}

.selected {
  background-color: #007acc;
}

.done {
  text-decoration: line-through;
  color: grey;
}

input:focus {
  outline: none;
}
