<div
  *ngIf="todo"
  @fadeIn
  class="todo-line"
  [ngClass]="selected ? 'selected' : ''"
>
  <span *ngIf="todo.done" (click)="markUndone()" @fadeIn class="checkbox">
    ✅
  </span>
  <span *ngIf="!todo.done" (click)="markDone()" @fadeIn class="checkbox">
    🔳
  </span>
  <span *ngIf="todo.paused" (click)="markUnpaused()" @fadeIn class="checkbox">
    ⏸️
  </span>
  <span
    *ngIf="!displayEditor()"
    class="todo-text"
    [ngClass]="todo.done ? 'done' : ''"
    (click)="edit()"
  >
    {{ todo.label }}
  </span>
  <input
    *ngIf="displayEditor()"
    class="todo-editor"
    [(ngModel)]="todo.label"
    (blur)="saveLabel()"
    autofocus
    (keydown.enter)="saveLabel()"
  />
</div>
